* {
    background-color: rgb(81, 197, 197);
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    color:#0c0527;
    text-align: center;
}
p {
    font-family: fantasy, sans-serif;
    text-align: left;
}